//HEADER
$header-background-color: $affairLight;
$header-font-color: $white;
$link-hover-background-color: $affair;
$head-button-background-color: $burntSienna;
$head-button-after-color: $copper;


//SERVICES BLOCK
$services-background-color: $mountainMeadowLight;
$services-fonts-color: $white;
$services-decoLine-color: $mountainMeadow;


//TEAM
$team-background-color: $linkWater;
$team-font-color: $fiord;
$team-decoLine-color: $botticelli;
$team-position-color: $pictonBlue;
$team-social-hover-color: $chambray;


//SKILLS
$skills-background-color: $white;
$skills-font-color: $fiord;
$skills-decoLine-color: $mystic;
//progressbar
$progress--90: $pictonBlue;
$progress--75: $cabaret;
$progress--70: $java;
$progress--85: $burntSienna;
$progress__back: $mystic;

//PORTFOLIO
$portfolio-background-color: $creamBrulee;
$portfolio-font-color: $mineShaft;
$portfolio-decoLine-color: $robRoy;
$portfolio-nav-button-color: $robRoy;
$portfolio-nav-button-color-hover: $white;
$portfolio-button-background-color: $mountainMeadowLight;
$portfolio-button-after-color: $mountainMeadow;

//REVIEWS
$reviews-background-color: $cabaret;
$reviews-font-color: $white;
$reviews-decoLine-color: $royalHeath;
$reviews-position-color: $creamBrulee;

//FEEDBACK
$feedback-background-color: $chambrayLight;
$feedback-font-color: $white;
$feedback-decoLine-color: $chambray;
$feedback-form-background-color: $astronaut;
$feedback-button-background-color: $pictonBlue;
$feedback-button-after-color: $curiousBlue;

//FOOTER
$feedback-background-color: $chambray;
$feedback-link-color: $white;
$feedback-link-actice-color: $pictonBlue;
$feedback-border-top-color: $chambrayLight;