header {
    width: 100%;
    background-color: $header-background-color;

    color: $white;
    font-family: "Titillium Web";
    font-size: 16px;

    nav {
        height: 94px;
        position: relative;

        .header__logo {
            transition: 600ms;
            position: absolute;
            bottom: 0px;
            left: 212px;
        }

        .header__nav {
            transition: 600ms;
            position: absolute;
            bottom: 9px;
            right: 159px;

            li {
                display: inline;

                a {

                    color: $white;
                    text-decoration: none;
                    padding: 4px 20px;
                    transition: 200ms;
                    border-radius: 5px;

                    &:hover {
                        background-color: $link-hover-background-color;
                    }
                }
                
                .header__link--active {
                    background-color: $link-hover-background-color;
                }
            }
        }
    }
}

main {

    .block__container {
        text-align: center;
        padding: 119px 0 0 0;
        width: 1100px;
        margin: 0 auto;
    }

    .article__block {

        background-color: $header-background-color;
        color: $white;
        font-family: "Titillium Web";
        font-size: 16pt;
        height: 502px;
        width: 100%;
        position: relative;

        .article__container {

            // position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            // text-align: center;
            padding-top: 134px;

            @extend .block__container;

            h3 {
                font-family: "Titillium Web";
                font-size: 42px;
                line-height: 48.82px;
                font-weight: 700;
                margin-bottom: 60px;
                transition: 600ms;
            }

            .header__button {
                @include pressButton($head-button-background-color, $head-button-after-color);
            }
        }
    }
    
    .service__block {

        background-color: $services-background-color;
        color: $services-fonts-color;
        font-family: "Titillium Web";

        .service__block__container {

            @extend .block__container;

            .block__title {
                @include block__title($white);
            }

            .block__decoLine {
                @include  block__decoLine($services-decoLine-color);
            }

            .block__description {
                @include block__description($services-fonts-color);
            }

            .service__features {

                padding-bottom: 96px;

                .service__features__item {
                    transition: 600ms;
                    display: inline-block;
                    margin: 0 49px;

                    img {
                        height: 130px;
                        margin-bottom: 47px;
                    }

                    h4 {
                        @include item__title($services-fonts-color);
                        margin-bottom: 27px;
                    }

                    p {
                        width: 170px;
                        font-family: "Titillium Web";
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 24px;
                        letter-spacing: 0.32px;
                    }
                }
            }
        }
    }


    .team__block {

        background-color: $team-background-color;
        color: $team-font-color;
        font-family: "Titillium Web";

        .team__block__container {
            
            @extend .block__container;

            .block__title {
                @include block__title($team-font-color);
            }

            .block__decoLine {
                @include  block__decoLine($team-decoLine-color);
            }

            .block__description {
                @include block__description($team-font-color);
                margin-bottom: 77px;
            }

            .team__list {
                padding-bottom: 127px;

                .team__item {
                    transition: 600ms;
                    display: inline-block;
                    margin: 0 12px;

                    .team__avatar {
                        margin: 0 auto;
                        height: 200px;
                        width: 200px;
                        border-radius: 50%;
                        background-color: $team-decoLine-color;
                        margin-bottom: 40px;
                    }

                    .team__name {
                        @include item__title($team-font-color);
                    }

                    .team__position {
                        display: inline-block;
                        margin-bottom: 17px;
                        color: $team-position-color;
                        font-family: "Titillium Web";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0.32px;
                    }

                    .team__description {
                        width: 248px;
                        margin-bottom: 51px;
                        color: $team-font-color;
                        font-family: "Titillium Web";
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 24px;
                        letter-spacing: 0.32px;
                    }

                    .team__socials {

                        width: 100%;
                        box-sizing: border-box;
                        padding: 0 60px;
                        height: 32px;

                        .social-sprite--active {
                            box-shadow: 0 0 10px 0 $chambray;
                        }

                        .social-sprite {

                            float: left;
                            background-image: url(../img/spriteSocial.png);
                            background-repeat: no-repeat;
                            display: block;
                            border-radius: 50%;
                            cursor: pointer;
                            margin: 0 auto;
                        
                            &-Fb-icon {
                                width: 32px;
                                height: 32px;
                                background-position: -5px -5px;
                            }
                        
                            &-Twitter-icon {
                                width: 32px;
                                height: 32px;
                                background-position: -47px -47px;
                            }
                        
                            &-LinkedIn-icon {
                                width: 32px;
                                height: 32px;
                                background-position: -47px -5px;
                            }
                        
                            &-Mail-icon {
                                width: 32px;
                                height: 32px;
                                background-position: -5px -47px;
                            }

                            &:hover {
                                box-shadow: 0 0 10px 0 $chambray;
                            }
                        }
                    }
                }
            }
        }
    }


    .skills__block {

        background-color: $skills-background-color;
        color: $skills-font-color;
        font-family: "Titillium Web";

        .skills__block__container {

            @extend .block__container;

            .block__title {
                @include block__title($skills-font-color);
            }

            .block__decoLine {
                @include  block__decoLine($skills-decoLine-color);
            }

            .block__description {
                @include block__description($skills-font-color);
                margin-bottom: 62px;
            }

            .skills__list {

                margin-bottom: 118px;

                .skills__item {
                    transition: 600ms;
                    margin: 0 41px;
                    display: inline-block;

                    *,
                    *:before,
                    *:after {
                        box-sizing: border-box;
                    }

                    h4 {
                        @include item__title($skills-font-color);
                    }
                }
            }
        }
    }


    //PROGRESS__________________________START    
    
    .pie-wrapper {
      @include size($default-size, $default-size);
      float: left;
      margin: 15px;
      margin-bottom: 31px;
      position: relative;
      
      &:nth-child(3n + 1) {
        clear: both;
      }
    
      .pie {
        @include size(100%, 100%);
        clip: rect(0, $default-size, $default-size, $default-size / 2);
        left: 0;
        position: absolute;
        top: 0;
    
        .half-circle {
          @include size(100%, 100%);
          border: ($default-size / 10) solid #3498db;
          border-radius: 50%;
          clip: rect(0, $default-size / 2, $default-size, 0);
          left: 0;
          position: absolute;
          top: 0;
        }
      }
    
      .label {
        background: $skills-font-color;
        border-radius: 50%;
        bottom: $label-font-size-redo / 10;
        color: #ecf0f1;
        cursor: default;
        display: block;
        font-size: $label-font-size;
        left: $label-font-size-redo / 10;
        line-height: $label-font-size-redo * .70;
        position: absolute;
        top: 61px;
        text-align: center;
        left: 47px;
    
        .smaller {
          color: #bdc3c7;
          font-size: .45em;
          padding-bottom: 20px;
          vertical-align: super;
        }
      }
    
      .shadow {
        @include size(100%, 100%);
        border: $default-size / 10 solid $mystic;
        border-radius: 50%;
      }
    
      
        .label {
          background: none;
          color: $skills-font-color;
          font-size: 50px;
    
          .smaller {
            color: $skills-font-color;
          }
        }
      
    
      &.progress-85 {
        @include draw-progress(85, #eb7d4b);
      }
    
    
      &.progress-90 {
        @include draw-progress(90, #30bae7);
      }
    
      &.progress-75 {
        @include draw-progress(75, #d74680);
      }
    
      &.progress-70 {
        @include draw-progress(70, #15c7a8);
      }
    }
      
      .label {
        background: transparent;
      }

//PROGRESS__________________________END


    .portfolio__block {

        background-color: $portfolio-background-color;
        color: $portfolio-font-color;
        font-family: "Titillium Web";

        .portfolio__block__container {

            @extend .block__container;
            padding-bottom: 113px;

            .block__title {
                @include block__title($portfolio-font-color);
            }

            .block__decoLine {
                @include  block__decoLine($portfolio-decoLine-color);
            }

            .block__description {
                @include block__description($portfolio-font-color);
                margin-bottom: 48px;
            }

            .portfolio__nav {

                padding-bottom: 73px;

                li {
                    display: inline;
    
                    a {
    
                        color: $portfolio-font-color;
                        background-color: $portfolio-nav-button-color;
                        text-decoration: none;
                        padding: 6px 20px;
                        margin: 0 4px;
                        transition: 200ms;
                        border-radius: 5px;
                        font-size: 18px;
    
                        &:hover {
                            background-color: $portfolio-nav-button-color-hover;
                        }
                    }

                    .portfolio__nav--active {
                        background-color: $portfolio-nav-button-color-hover;
                    }
                }
            }

            .portfolio__items {
                transition: 600ms;
                width: 1125px;
                margin: 0 auto 19px auto;

                li {

                    display: inline-block;
                    margin: 0 10px 16px 10px;

                    img {
                        transition: 600ms;
                        margin-bottom: 22px;
                    }

                    h5 {
                        font-size: 14pt;
                        margin-bottom: 47px;
                    }
                }
            }

            .portfolio__button {
                @include pressButton($portfolio-button-background-color, $portfolio-button-after-color);
                color: $white;
                font-size: 14pt;
            }
        }
    }
    
    .reviews__block {
        
        background-color: $reviews-background-color;
        color: $reviews-font-color;
        font-family: "Titillium Web";

        .reviews__block__container {

            @extend .block__container;

            .block__title {
                @include block__title($reviews-font-color);
            }

            .block__decoLine {
                @include  block__decoLine($reviews-decoLine-color);
            }

            .block__description {
                @include block__description($reviews-font-color);
                margin-bottom: 66px;
            }

            .reviews__items {

                width: 100%;

                li {

                    display: inline-block;
                    width: 490px;
                    margin-bottom: 133px;
                    &:nth-child(odd) {
                        margin-right: 90px;
                    }

                    .reviews__avatar {
                        float: left;
                        margin-right: 50px;
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        background-color: #787878;
                    }

                    .reviews__info {

                        text-align: left;
                        padding-left: 150px;

                        .reviews__article {
                            width: 340px;
                            display: inline-block;
                            margin-bottom: 25px;

                            font-family: "Titillium Web";
                            font-size: 21px;
                            font-style: italic;
                            line-height: 31.2px;
                            letter-spacing: 0.35px;
                        }

                        .reviews__name {
                            width: 340px;
                            display: inline-block;
                            font-family: "Titillium Web";
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 26px;
                            letter-spacing: 0.48px;
                        }

                        .reviews__position {
                            width: 340px;
                            color: $reviews-position-color;
                            display: inline-block;
                            font-family: "Titillium Web";
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 26px;
                            letter-spacing: 0.36px;
                        }
                    }
                }
            }
        }
    }

    .feedback__block {

        background-color: $feedback-background-color;
        color: $feedback-font-color;
        font-family: "Titillium Web";

        .feedback__block__container {

            @extend .block__container;
            padding-bottom: 140px;

            .block__title {
                @include block__title($feedback-font-color);
            }

            .block__decoLine {
                @include  block__decoLine($feedback-decoLine-color);
            }

            .block__description {
                @include block__description($feedback-font-color);
                margin-bottom: 72px;
            }

            form {
                box-sizing: border-box;
                margin: 0 auto;
                width: 863px;
    
                input {
                    box-sizing: border-box;
                    outline: none;
                    background-color: $feedback-form-background-color;
                    border: none;
                    border-radius: 5px;
                    width: 380px;
                    height: 55px;
                    margin: 0 15px 25px 15px;
                    padding-left: 20px;
                    &::placeholder {
                        color: $white;
                        font-size: 14pt;
                    }
                }
    
                textarea {
                    box-sizing: border-box;
                    width: 807px;
                    height: 180px;
                    outline: none;
                    background-color: $feedback-form-background-color;
                    border: none;
                    border-radius: 5px;
                    margin: 0 15px;
                    color: $white;
                    font-size: 14pt;
                    padding: 20px 0 0 20px;
                    margin-bottom: 55px;
                }
    
                .feedback__button {
                    text-align: center;
                    font-size: 14pt;
                    @include pressButton($feedback-button-background-color, $feedback-button-after-color);
                }
            }
        }
        
    }

}

footer {
    height: 113px;
    border-top: 1px solid $feedback-border-top-color;
    background-color: $feedback-background-color;
    text-align: center;

    ul {
        li {
            display: inline-block;

            a {
                font-size: 19pt;
                color: $feedback-link-color;
                text-decoration: none;
                margin: 0 25px;
                line-height: 113px;

                &:hover {
                    color: $feedback-link-actice-color;
                }
            }

            .footer__nav--active {
                color: $feedback-link-actice-color;
            }
        }
    }
}


@media all and (max-width: 1360px) and (min-width: 1009px) {
    header {    
        nav {    
            .header__logo {
                left: 70px;
            }
    
            .header__nav {
                right: 70px;
            }
        }
    }    

    main {

        .block__container {
            width: 992px;
        }

        .service__block {
            .service__block__container {
                .service__features {
                    .service__features__item {
                        margin: 50px 140px;
                    }
                }
            }
        }

        .team__block {    
            .team__block__container {    
                .team__list {    
                    .team__item {
                        margin: 0 113px 50px 113px;
                    }
                }
            }
        }

        .skills__block {    
            .skills__block__container {
                .skills__list {
                    .skills__item {
                        margin: 50px 130px;
                    }
                }
            }
        }

        .portfolio__block {    
            .portfolio__block__container {
                .portfolio__items {    
                    width: 992px;
                    li {
                        img {
                            width: 500px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .feedback__block {
            .feedback__block__container {
                form {
                    width: 863px;
                    input {
                        width: 100%;
                        margin: 0 0 20px 0;
                    }
        
                    textarea {
                        width: 100%;
                        margin: 0 0 20px 0;
                    }
                }
            }
            
        }
    }

    footer {    
        ul {
            li {    
                a {
                    margin: 0 18px;
                }
            }
        }
    }
}

@media all and (max-width: 1009px) {
    header {    
        nav {
            position: static;
            .header__logo {
                display: block;
                position: static;
                margin: 0 auto;
                padding: 27px;
            }
    
            .header__nav {
                display: none;
            }
        }

        article {
            .article__container {    
                h3 {
                    font-size: 30pt;
                }
            }
        }
    } 

    main {

        .block__container {
            width: 690px;
        }

        .service__block {
            .service__block__container {
                .service__features {
                    .service__features__item {
                        margin: 50px 80px;

                        img {
                            height: 146px;
                        }

                        h4 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        .team__block {    
            .team__block__container {    
                .team__list {    
                    .team__item {
                        margin: 0 113px 50px 113px;

                        .team__avatar {
                            width: 300px;
                            height: 300px;
                        }

                        .team__name {
                            font-size: 30px;
                        }

                        .team__position {
                            font-size: 20px;
                        }

                        .team__description {
                            margin: 0;
                            width: 300px;
                        }

                        .team__socials {
                            padding: 0 86px;
                        }
                    }
                }
            }
        }

        .skills__block {    
            .skills__block__container {
                .skills__list {
                    .skills__item {
                        margin: 50px 130px;
                    }
                }
            }
        }

        .portfolio__block {    
            .portfolio__block__container {
                .portfolio__items {    
                    width: 100%;
                    li {
                        img {
                            width: 400px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .feedback__block {    
            .feedback__block__container {    
                form {        
                    width: 100%;
                    padding: 50px;
                    box-sizing: border-box;
                    input {
                        width: 100%;
                        margin: 0 auto 25px auto;
                    }
        
                    textarea {
                        width: 100%;
                        margin: 0 auto 50px auto;
                    }
                }
            }
            
        }
    }

    footer {    
        display: none;
    }
}