// Colors
$white: #ffffff;
$affairLight: #87509c;
$affair: #643a79;
$mountainMeadowLight: #17c2a4;
$mountainMeadow: #14a58c;
$linkWater: #e7f1f8;
$creamBrulee: #ffdd99;
$cabaret: #d74680;
$chambrayLight: #3c5499;
$chambray: #344b8e;
$burntSienna: #eb7d4b;
$copper: #c86a40;
$fiord: #3c4761;
$mystic: #dfe8ed;
$botticelli: #c8d9e5;
$mystic: #dfe8ed;
$mineShaft: #393939;
$robRoy: #ebc985;

$pictonBlue: #30bae7;
$java: #15c7a8;
$burntSienna: #eb7d4b;





$themeColor: #63B8FF;
$backColor: #ddd;


$spacing: 1rem;