/* Eric Meyer's CSS Reset */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
html {
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body {
  font: 12px/18px Arial, sans-serif;
  width: 100%;
  height: 100%; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

header {
  width: 100%;
  background-color: #87509c;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 16px; }
  header nav {
    height: 94px;
    position: relative; }
    header nav .header__logo {
      transition: 600ms;
      position: absolute;
      bottom: 0px;
      left: 212px; }
    header nav .header__nav {
      transition: 600ms;
      position: absolute;
      bottom: 9px;
      right: 159px; }
      header nav .header__nav li {
        display: inline; }
        header nav .header__nav li a {
          color: #ffffff;
          text-decoration: none;
          padding: 4px 20px;
          transition: 200ms;
          border-radius: 5px; }
          header nav .header__nav li a:hover {
            background-color: #643a79; }
        header nav .header__nav li .header__link--active {
          background-color: #643a79; }

main .block__container, main .article__block .article__container, main .service__block .service__block__container, main .team__block .team__block__container, main .skills__block .skills__block__container, main .portfolio__block .portfolio__block__container, main .reviews__block .reviews__block__container, main .feedback__block .feedback__block__container {
  text-align: center;
  padding: 119px 0 0 0;
  width: 1100px;
  margin: 0 auto; }

main .article__block {
  background-color: #87509c;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 16pt;
  height: 502px;
  width: 100%;
  position: relative; }
  main .article__block .article__container {
    padding-top: 134px; }
    main .article__block .article__container h3 {
      font-family: "Titillium Web";
      font-size: 42px;
      line-height: 48.82px;
      font-weight: 700;
      margin-bottom: 60px;
      transition: 600ms; }
    main .article__block .article__container .header__button {
      font-size: 18px;
      font-weight: 400;
      line-height: 26.19px;
      letter-spacing: 0.27px;
      margin: 0 auto;
      width: 293px;
      height: 66px;
      position: relative;
      background-color: #eb7d4b;
      transition: 300ms;
      border-radius: 5px;
      padding: 23px 0;
      bottom: 0;
      box-sizing: border-box;
      box-shadow: 0 4px 0 0 #c86a40;
      cursor: pointer; }
      main .article__block .article__container .header__button:hover {
        box-shadow: none;
        bottom: -4px; }

main .service__block {
  background-color: #17c2a4;
  color: #ffffff;
  font-family: "Titillium Web"; }
  main .service__block .service__block__container .block__title {
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    letter-spacing: 4px; }
  main .service__block .service__block__container .block__decoLine {
    width: 87px;
    height: 4px;
    margin: 21px auto;
    background-color: #14a58c; }
  main .service__block .service__block__container .block__description {
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin-bottom: 82px; }
  main .service__block .service__block__container .service__features {
    padding-bottom: 96px; }
    main .service__block .service__block__container .service__features .service__features__item {
      transition: 600ms;
      display: inline-block;
      margin: 0 49px; }
      main .service__block .service__block__container .service__features .service__features__item img {
        height: 130px;
        margin-bottom: 47px; }
      main .service__block .service__block__container .service__features .service__features__item h4 {
        font-family: "Titillium Web";
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.48px;
        margin-bottom: 27px; }
      main .service__block .service__block__container .service__features .service__features__item p {
        width: 170px;
        font-family: "Titillium Web";
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.32px; }

main .team__block {
  background-color: #e7f1f8;
  color: #3c4761;
  font-family: "Titillium Web"; }
  main .team__block .team__block__container .block__title {
    color: #3c4761;
    font-family: "Titillium Web";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    letter-spacing: 4px; }
  main .team__block .team__block__container .block__decoLine {
    width: 87px;
    height: 4px;
    margin: 21px auto;
    background-color: #c8d9e5; }
  main .team__block .team__block__container .block__description {
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    color: #3c4761;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin-bottom: 82px;
    margin-bottom: 77px; }
  main .team__block .team__block__container .team__list {
    padding-bottom: 127px; }
    main .team__block .team__block__container .team__list .team__item {
      transition: 600ms;
      display: inline-block;
      margin: 0 12px; }
      main .team__block .team__block__container .team__list .team__item .team__avatar {
        margin: 0 auto;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: #c8d9e5;
        margin-bottom: 40px; }
      main .team__block .team__block__container .team__list .team__item .team__name {
        font-family: "Titillium Web";
        color: #3c4761;
        font-size: 24px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.48px; }
      main .team__block .team__block__container .team__list .team__item .team__position {
        display: inline-block;
        margin-bottom: 17px;
        color: #30bae7;
        font-family: "Titillium Web";
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.32px; }
      main .team__block .team__block__container .team__list .team__item .team__description {
        width: 248px;
        margin-bottom: 51px;
        color: #3c4761;
        font-family: "Titillium Web";
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.32px; }
      main .team__block .team__block__container .team__list .team__item .team__socials {
        width: 100%;
        box-sizing: border-box;
        padding: 0 60px;
        height: 32px; }
        main .team__block .team__block__container .team__list .team__item .team__socials .social-sprite--active {
          box-shadow: 0 0 10px 0 #344b8e; }
        main .team__block .team__block__container .team__list .team__item .team__socials .social-sprite {
          float: left;
          background-image: url(../Images/spriteSocial.png);
          background-repeat: no-repeat;
          display: block;
          border-radius: 50%;
          cursor: pointer;
          margin: 0 auto; }
          main .team__block .team__block__container .team__list .team__item .team__socials .social-sprite-Fb-icon {
            width: 32px;
            height: 32px;
            background-position: -5px -5px; }
          main .team__block .team__block__container .team__list .team__item .team__socials .social-sprite-Twitter-icon {
            width: 32px;
            height: 32px;
            background-position: -47px -47px; }
          main .team__block .team__block__container .team__list .team__item .team__socials .social-sprite-LinkedIn-icon {
            width: 32px;
            height: 32px;
            background-position: -47px -5px; }
          main .team__block .team__block__container .team__list .team__item .team__socials .social-sprite-Mail-icon {
            width: 32px;
            height: 32px;
            background-position: -5px -47px; }
          main .team__block .team__block__container .team__list .team__item .team__socials .social-sprite:hover {
            box-shadow: 0 0 10px 0 #344b8e; }

main .skills__block {
  background-color: #ffffff;
  color: #3c4761;
  font-family: "Titillium Web"; }
  main .skills__block .skills__block__container .block__title {
    color: #3c4761;
    font-family: "Titillium Web";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    letter-spacing: 4px; }
  main .skills__block .skills__block__container .block__decoLine {
    width: 87px;
    height: 4px;
    margin: 21px auto;
    background-color: #dfe8ed; }
  main .skills__block .skills__block__container .block__description {
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    color: #3c4761;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin-bottom: 82px;
    margin-bottom: 62px; }
  main .skills__block .skills__block__container .skills__list {
    margin-bottom: 118px; }
    main .skills__block .skills__block__container .skills__list .skills__item {
      transition: 600ms;
      margin: 0 41px;
      display: inline-block; }
      main .skills__block .skills__block__container .skills__list .skills__item *,
      main .skills__block .skills__block__container .skills__list .skills__item *:before,
      main .skills__block .skills__block__container .skills__list .skills__item *:after {
        box-sizing: border-box; }
      main .skills__block .skills__block__container .skills__list .skills__item h4 {
        font-family: "Titillium Web";
        color: #3c4761;
        font-size: 24px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.48px; }

main .pie-wrapper {
  height: 160px;
  width: 160px;
  float: left;
  margin: 15px;
  margin-bottom: 31px;
  position: relative; }
  main .pie-wrapper:nth-child(3n + 1) {
    clear: both; }
  main .pie-wrapper .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 160px, 160px, 80px);
    left: 0;
    position: absolute;
    top: 0; }
    main .pie-wrapper .pie .half-circle {
      height: 100%;
      width: 100%;
      border: 16px solid #3498db;
      border-radius: 50%;
      clip: rect(0, 80px, 160px, 0);
      left: 0;
      position: absolute;
      top: 0; }
  main .pie-wrapper .label {
    background: #3c4761;
    border-radius: 50%;
    bottom: 3.2px;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 32px;
    left: 3.2px;
    line-height: 22.4px;
    position: absolute;
    top: 61px;
    text-align: center;
    left: 47px; }
    main .pie-wrapper .label .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super; }
  main .pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 16px solid #dfe8ed;
    border-radius: 50%; }
  main .pie-wrapper .label {
    background: none;
    color: #3c4761;
    font-size: 50px; }
    main .pie-wrapper .label .smaller {
      color: #3c4761; }
  main .pie-wrapper.progress-85 .pie {
    clip: rect(auto, auto, auto, auto); }
    main .pie-wrapper.progress-85 .pie .half-circle {
      border-color: #eb7d4b; }
    main .pie-wrapper.progress-85 .pie .left-side {
      -ms-transform: rotate(306deg);
          transform: rotate(306deg); }
    main .pie-wrapper.progress-85 .pie .right-side {
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
  main .pie-wrapper.progress-90 .pie {
    clip: rect(auto, auto, auto, auto); }
    main .pie-wrapper.progress-90 .pie .half-circle {
      border-color: #30bae7; }
    main .pie-wrapper.progress-90 .pie .left-side {
      -ms-transform: rotate(324deg);
          transform: rotate(324deg); }
    main .pie-wrapper.progress-90 .pie .right-side {
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
  main .pie-wrapper.progress-75 .pie {
    clip: rect(auto, auto, auto, auto); }
    main .pie-wrapper.progress-75 .pie .half-circle {
      border-color: #d74680; }
    main .pie-wrapper.progress-75 .pie .left-side {
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
    main .pie-wrapper.progress-75 .pie .right-side {
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
  main .pie-wrapper.progress-70 .pie {
    clip: rect(auto, auto, auto, auto); }
    main .pie-wrapper.progress-70 .pie .half-circle {
      border-color: #15c7a8; }
    main .pie-wrapper.progress-70 .pie .left-side {
      -ms-transform: rotate(252deg);
          transform: rotate(252deg); }
    main .pie-wrapper.progress-70 .pie .right-side {
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

main .label {
  background: transparent; }

main .portfolio__block {
  background-color: #ffdd99;
  color: #393939;
  font-family: "Titillium Web"; }
  main .portfolio__block .portfolio__block__container {
    padding-bottom: 113px; }
    main .portfolio__block .portfolio__block__container .block__title {
      color: #393939;
      font-family: "Titillium Web";
      font-size: 40px;
      font-weight: 700;
      line-height: 29.91px;
      letter-spacing: 4px; }
    main .portfolio__block .portfolio__block__container .block__decoLine {
      width: 87px;
      height: 4px;
      margin: 21px auto;
      background-color: #ebc985; }
    main .portfolio__block .portfolio__block__container .block__description {
      font-family: "Titillium Web";
      font-size: 18px;
      font-weight: 400;
      color: #393939;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin-bottom: 82px;
      margin-bottom: 48px; }
    main .portfolio__block .portfolio__block__container .portfolio__nav {
      padding-bottom: 73px; }
      main .portfolio__block .portfolio__block__container .portfolio__nav li {
        display: inline; }
        main .portfolio__block .portfolio__block__container .portfolio__nav li a {
          color: #393939;
          background-color: #ebc985;
          text-decoration: none;
          padding: 6px 20px;
          margin: 0 4px;
          transition: 200ms;
          border-radius: 5px;
          font-size: 18px; }
          main .portfolio__block .portfolio__block__container .portfolio__nav li a:hover {
            background-color: #ffffff; }
        main .portfolio__block .portfolio__block__container .portfolio__nav li .portfolio__nav--active {
          background-color: #ffffff; }
    main .portfolio__block .portfolio__block__container .portfolio__items {
      transition: 600ms;
      width: 1125px;
      margin: 0 auto 19px auto; }
      main .portfolio__block .portfolio__block__container .portfolio__items li {
        display: inline-block;
        margin: 0 10px 16px 10px; }
        main .portfolio__block .portfolio__block__container .portfolio__items li img {
          transition: 600ms;
          margin-bottom: 22px; }
        main .portfolio__block .portfolio__block__container .portfolio__items li h5 {
          font-size: 14pt;
          margin-bottom: 47px; }
    main .portfolio__block .portfolio__block__container .portfolio__button {
      font-size: 18px;
      font-weight: 400;
      line-height: 26.19px;
      letter-spacing: 0.27px;
      margin: 0 auto;
      width: 293px;
      height: 66px;
      position: relative;
      background-color: #17c2a4;
      transition: 300ms;
      border-radius: 5px;
      padding: 23px 0;
      bottom: 0;
      box-sizing: border-box;
      box-shadow: 0 4px 0 0 #14a58c;
      cursor: pointer;
      color: #ffffff;
      font-size: 14pt; }
      main .portfolio__block .portfolio__block__container .portfolio__button:hover {
        box-shadow: none;
        bottom: -4px; }

main .reviews__block {
  background-color: #d74680;
  color: #ffffff;
  font-family: "Titillium Web"; }
  main .reviews__block .reviews__block__container .block__title {
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    letter-spacing: 4px; }
  main .reviews__block .reviews__block__container .block__decoLine {
    width: 87px;
    height: 4px;
    margin: 21px auto;
    background-color: #b73c6d; }
  main .reviews__block .reviews__block__container .block__description {
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin-bottom: 82px;
    margin-bottom: 66px; }
  main .reviews__block .reviews__block__container .reviews__items {
    width: 100%; }
    main .reviews__block .reviews__block__container .reviews__items li {
      display: inline-block;
      width: 490px;
      margin-bottom: 133px; }
      main .reviews__block .reviews__block__container .reviews__items li:nth-child(odd) {
        margin-right: 90px; }
      main .reviews__block .reviews__block__container .reviews__items li .reviews__avatar {
        float: left;
        margin-right: 50px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #787878; }
      main .reviews__block .reviews__block__container .reviews__items li .reviews__info {
        text-align: left;
        padding-left: 150px; }
        main .reviews__block .reviews__block__container .reviews__items li .reviews__info .reviews__article {
          width: 340px;
          display: inline-block;
          margin-bottom: 25px;
          font-family: "Titillium Web";
          font-size: 21px;
          font-style: italic;
          line-height: 31.2px;
          letter-spacing: 0.35px; }
        main .reviews__block .reviews__block__container .reviews__items li .reviews__info .reviews__name {
          width: 340px;
          display: inline-block;
          font-family: "Titillium Web";
          font-size: 24px;
          font-weight: 700;
          line-height: 26px;
          letter-spacing: 0.48px; }
        main .reviews__block .reviews__block__container .reviews__items li .reviews__info .reviews__position {
          width: 340px;
          color: #ffdd99;
          display: inline-block;
          font-family: "Titillium Web";
          font-size: 18px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0.36px; }

main .feedback__block {
  background-color: #344b8e;
  color: #ffffff;
  font-family: "Titillium Web"; }
  main .feedback__block .feedback__block__container {
    padding-bottom: 140px; }
    main .feedback__block .feedback__block__container .block__title {
      color: #ffffff;
      font-family: "Titillium Web";
      font-size: 40px;
      font-weight: 700;
      line-height: 29.91px;
      letter-spacing: 4px; }
    main .feedback__block .feedback__block__container .block__decoLine {
      width: 87px;
      height: 4px;
      margin: 21px auto;
      background-color: #273a71; }
    main .feedback__block .feedback__block__container .block__description {
      font-family: "Titillium Web";
      font-size: 18px;
      font-weight: 400;
      color: #ffffff;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin-bottom: 82px;
      margin-bottom: 72px; }
    main .feedback__block .feedback__block__container form {
      box-sizing: border-box;
      margin: 0 auto;
      width: 863px; }
      main .feedback__block .feedback__block__container form input {
        box-sizing: border-box;
        outline: none;
        background-color: #273a71;
        border: none;
        border-radius: 5px;
        width: 380px;
        height: 55px;
        margin: 0 15px 25px 15px;
        padding-left: 20px; }
        main .feedback__block .feedback__block__container form input:-ms-input-placeholder {
          color: #ffffff;
          font-size: 14pt; }
        main .feedback__block .feedback__block__container form input::placeholder {
          color: #ffffff;
          font-size: 14pt; }
      main .feedback__block .feedback__block__container form textarea {
        box-sizing: border-box;
        width: 807px;
        height: 180px;
        outline: none;
        background-color: #273a71;
        border: none;
        border-radius: 5px;
        margin: 0 15px;
        color: #ffffff;
        font-size: 14pt;
        padding: 20px 0 0 20px;
        margin-bottom: 55px; }
      main .feedback__block .feedback__block__container form .feedback__button {
        text-align: center;
        font-size: 14pt;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.19px;
        letter-spacing: 0.27px;
        margin: 0 auto;
        width: 293px;
        height: 66px;
        position: relative;
        background-color: #30bae7;
        transition: 300ms;
        border-radius: 5px;
        padding: 23px 0;
        bottom: 0;
        box-sizing: border-box;
        box-shadow: 0 4px 0 0 #299ec5;
        cursor: pointer; }
        main .feedback__block .feedback__block__container form .feedback__button:hover {
          box-shadow: none;
          bottom: -4px; }

footer {
  height: 113px;
  border-top: 1px solid #3c5499;
  background-color: #344b8e;
  text-align: center; }
  footer ul li {
    display: inline-block; }
    footer ul li a {
      font-size: 19pt;
      color: #ffffff;
      text-decoration: none;
      margin: 0 25px;
      line-height: 113px; }
      footer ul li a:hover {
        color: #30bae7; }
    footer ul li .footer__nav--active {
      color: #30bae7; }

@media all and (max-width: 1360px) and (min-width: 1009px) {
  header nav .header__logo {
    left: 70px; }
  header nav .header__nav {
    right: 70px; }
  main .block__container, main .article__block .article__container, main .service__block .service__block__container, main .team__block .team__block__container, main .skills__block .skills__block__container, main .portfolio__block .portfolio__block__container, main .reviews__block .reviews__block__container, main .feedback__block .feedback__block__container {
    width: 992px; }
  main .service__block .service__block__container .service__features .service__features__item {
    margin: 50px 140px; }
  main .team__block .team__block__container .team__list .team__item {
    margin: 0 113px 50px 113px; }
  main .skills__block .skills__block__container .skills__list .skills__item {
    margin: 50px 130px; }
  main .portfolio__block .portfolio__block__container .portfolio__items {
    width: 992px; }
    main .portfolio__block .portfolio__block__container .portfolio__items li img {
      width: 500px;
      margin-bottom: 10px; }
  main .feedback__block .feedback__block__container form {
    width: 863px; }
    main .feedback__block .feedback__block__container form input {
      width: 100%;
      margin: 0 0 20px 0; }
    main .feedback__block .feedback__block__container form textarea {
      width: 100%;
      margin: 0 0 20px 0; }
  footer ul li a {
    margin: 0 18px; } }

@media all and (max-width: 1009px) {
  header nav {
    position: static; }
    header nav .header__logo {
      display: block;
      position: static;
      margin: 0 auto;
      padding: 27px; }
    header nav .header__nav {
      display: none; }
  header article .article__container h3 {
    font-size: 30pt; }
  main .block__container, main .article__block .article__container, main .service__block .service__block__container, main .team__block .team__block__container, main .skills__block .skills__block__container, main .portfolio__block .portfolio__block__container, main .reviews__block .reviews__block__container, main .feedback__block .feedback__block__container {
    width: 690px; }
  main .service__block .service__block__container .service__features .service__features__item {
    margin: 50px 80px; }
    main .service__block .service__block__container .service__features .service__features__item img {
      height: 146px; }
    main .service__block .service__block__container .service__features .service__features__item h4 {
      font-size: 24px; }
    main .service__block .service__block__container .service__features .service__features__item p {
      font-size: 17px; }
  main .team__block .team__block__container .team__list .team__item {
    margin: 0 113px 50px 113px; }
    main .team__block .team__block__container .team__list .team__item .team__avatar {
      width: 300px;
      height: 300px; }
    main .team__block .team__block__container .team__list .team__item .team__name {
      font-size: 30px; }
    main .team__block .team__block__container .team__list .team__item .team__position {
      font-size: 20px; }
    main .team__block .team__block__container .team__list .team__item .team__description {
      margin: 0;
      width: 300px; }
    main .team__block .team__block__container .team__list .team__item .team__socials {
      padding: 0 86px; }
  main .skills__block .skills__block__container .skills__list .skills__item {
    margin: 50px 130px; }
  main .portfolio__block .portfolio__block__container .portfolio__items {
    width: 100%; }
    main .portfolio__block .portfolio__block__container .portfolio__items li img {
      width: 400px;
      margin-bottom: 10px; }
  main .feedback__block .feedback__block__container form {
    width: 100%;
    padding: 50px;
    box-sizing: border-box; }
    main .feedback__block .feedback__block__container form input {
      width: 100%;
      margin: 0 auto 25px auto; }
    main .feedback__block .feedback__block__container form textarea {
      width: 100%;
      margin: 0 auto 50px auto; }
  footer {
    display: none; } }
