//HEADER
$header-link-color: $mineShaftLight;
$header-link-hover-color: $mediumCarmine;

$header-link-second-background: $mineShaft;
$header-link-second-color: $grayChateau;
$header-link-hover-second-color: $white;

$header-banner-line-color: $mineShaft;
$header-banner-background: $mediumCarmine;
$header-banner-title-color: $white;
$header-banner-article-color: $mineShaft;


//ASIDE
$aside-nav-title-color: $mineShaft;
$aside-nav-item-color: $mineShaft;
$aside-nav-item--background: $white;
$aside-nav-item-active-background: $mediumCarmine;
$aside-nav-item-active-color: $mediumCarmine;
$aside-nav-item-border-color: $iron;
$aside-nav-arrow-color: $osloGray;
$aside-nav-link--inside-background: $aquaHaze;
$aside-nav-link--inside-second-background: $gallery;

//SECTION
$section-title-color: $mineShaft;
$section-date-color: $frenchGray;
$border-bottom-color: $frenchGray;
$article-overwiev-color: $osloGray;
$article-part-title: $mediumCarmine;
$article-image-caption: $silverChalice;
$article-footer-link-color: $mediumCarmine;

//FOOTER
$footer-text-color: $mineShaftLight;
$footer-title-color: $mineShaft;
$footer-background: $alabaster;
$footer-shadow-color: $alto;