$mineShaftLight: #3c3c3c;
$mediumCarmine: #ae3b44;
$mineShaft: #212121;
$white: #ffffff;
$iron: #e6e6e7;
$aquaHaze: #f4f7f8;
$gallery: #eaeaea;
$osloGray: #929495;
$frenchGray: #bebebf;
$silverChalice: #aeaeae;
$alabaster: #f8f8f8;
$alto: #dcdcdc;
$grayChateau: #9ca0a2;