.footer {

    width: 100%;

    .clients__block {

        border-top: 1px solid $border-bottom-color;
        margin: 0 auto;
        height: 93px;
        width: 979px;
        display: flex;
        justify-content: space-around;
        align-items: center;


        h3 {
            color: $footer-title-color;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -0.12px;
        }
    }

    .footer__container {

        background-color: $footer-background;
        box-shadow: 0 0 5px 0 $footer-shadow-color inset;
        width: 100%;
        padding-top: 24px;
        box-sizing: border-box;

        .footer__items {

            width: 979px;
            height: 174px;
            display: flex;
            align-items: flex-start;
            margin: 0 auto;
            color: $footer-text-color;

            .block {

                margin-right: 75px;
    
                &:nth-child(3) {
                    margin-right: 0;
                }
    
                h5 {
                    margin-bottom: 24px;
                    font-size: 15px;
                    opacity: 0.3;
                }
    
                div {
    
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
    
                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin-right: 75px;
    
                        li {
                            margin-bottom: 10px;
    
                            a {
                                color: $footer-text-color;
                                font-size: 12px;
                                text-decoration: none;
                                opacity: 0.3;
                            }
                        }
                    }
                }
    
                .footer__socials {
    
                    margin-bottom: 24px;
    
                    .sprite {
                        background-image: url(../img/spritesheet.png);
                        background-repeat: no-repeat;
                        width: 24px;
                        height: 24px;
                        display: block;
                        margin-right: 6px;
                    }
                    
                    .sprite-facebook {
                        background-position: -5px -5px;
    
                        &:hover {
                            background-position: -39px -5px;
                        }
                    }

                    .sprite-facebook--active {
                        background-position: -39px -5px;
                    }
                    
                    .sprite-linkedin {
                        background-position: -5px -39px;
    
                        &:hover {
                            background-position: -39px -39px;
                        }
                    }
                    
                    .sprite-rss {
                        background-position: -73px -5px;
    
                        &:hover {
                            background-position: -73px -39px;
                        }
                    }
                    
                    .sprite-twitter {
                        background-position: -5px -73px;
    
                        &:hover {
                            background-position: -39px -73px;
                        }
                    }
                    
                }
    
                span {
                    opacity: 0.3;
                    font-size: 11px;
                }
            }
        }
    }
}
