body {
    width: 100%;
    background-image: url(../img/background.png);
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.main {

    margin: 0 auto;
    max-width: 979px;
    min-width: 790px;
    // width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: flex-start;
    // flex-wrap: wrap;

    .banner {

        background-color: $header-banner-background;
        border-top: 7px solid $header-banner-line-color;
        display: flex;
        align-items: flex-start;
        height: 128px;

        img {

        }

        article {

            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 23px 33px;
            box-sizing: border-box;
            position: relative;

            h3 {
                color: $header-banner-title-color;
                // width: 371px;
                width: 32%;
                font-size: 24px;
                font-weight: 400;
                letter-spacing: -0.16px;
            }
    
            p {
                color: $header-banner-article-color;
                font-size: 12px;
                font-weight: 400;
                width: 65%;
                line-height: 19px;
            }

            ul {

                position: absolute;
                right: 25px;
                bottom: 10px;

                li {

                    display: inline-block;

                    a {

                        img {
                            margin: 0 9px;
                        }
                    }
                }
            }
        }
    }

    aside {

        padding-top: 48px;
        float: left;

        nav {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            border-right: 1px solid $aside-nav-item-border-color;

            div {

                width: 244px;
                // width: 40%;
                height: 35px;
                border-bottom: 1px solid $aside-nav-item-border-color;

                h4 {
                    background-image: url(../img/lines_texture.png);
                    font-size: 14pt;
                    color: $aside-nav-title-color;
                    padding: 10px 15px;
                    box-sizing: border-box;
                }
            }

            ul {

                li {

                    background-color: $aside-nav-item--background;
                    border-bottom: 1px solid $aside-nav-item-border-color;

                    a {
                        display: block;
                        padding: 12px 15px;
                        box-sizing: border-box;
                        width: 244px;
                        height: 40px;
                        text-decoration: none;
                        font-size: 10pt;
                        color: $aside-nav-item-color;

                        &:hover {
                            color: $aside-nav-item-active-color;
                        }
                    }

                    .link--hover {
                        color: $aside-nav-item-active-color;
                    }

                    .link--active {
                        background-color: $aside-nav-item-active-background;
                        color: $white;
                        position: relative;

                        &::after {
                            width: 3px;
                            height: 8px;
                            background-image: url(../img/arrow_rigth_red.png);
                            content: "";
                            display: block;
                            position: absolute;
                            top: 15px;
                            right: -3px;
                        }

                        &:hover {
                            color: $white;
                        }
                    }

                    .link--inside {
                        background-color: $aside-nav-link--inside-background;
                        padding-left: 30px;
                    }

                    .link--inside--second {
                        background-color: $aside-nav-link--inside-second-background;
                        padding-left: 45px;

                        position: relative;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 4px;
                            height: 7px;
                            background-image: url(../img/arrow_right_nav.png);
                            top: 15px;
                            left: 30px;
                        }
                    }

                    .arrow--right {

                        position: relative;

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 4px;
                            height: 7px;
                            background-image: url(../img/arrow_right_nav.png);
                            top: 15px;
                            right: 15px;
                        }
                    }

                    .arrow--bottom {
                        position: relative;

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 7px;
                            height: 4px;
                            background-image: url(../img/arrow_down_nav.png);
                            top: 15px;
                            right: 15px;
                        }
                    }
                }
            }
        }
    }

    section {

        float: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 33px;
        min-width: 508px;
        max-width: 697px;
        padding-left: 37px;

        header {

            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 1px solid $border-bottom-color;
            width: 100%;

            h1 {
                color: $section-title-color;
                font-size: 24px;
                font-weight: 400;
            }

            .article__date {

                width: 75px;
                height: 75px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image: url(../img/lines_texture.png);

                .date--day {
                    font-size: 17px;
                    font-weight: bold;
                    color: $section-date-color;
                    margin-bottom: 10px;
                }

                .date {
                    font-size: 10px;
                    color: $section-date-color;
                }
            }
        }


        article {

            // width: 71%;

            .article__overwiev {
                
                p {
                    color: $article-overwiev-color;
                    font-size: 12pt;
                    line-height: 1.5;
                    font-style: italic;
                    padding: 21px 0;
                }
                border-bottom: 1px solid $border-bottom-color;
                margin-bottom: 26px;
            }

            .article__part {

                &--second {
                    padding-bottom: 0px;
                    padding-top: 25px;
                }

                border-bottom: 1px solid $border-bottom-color;
                padding-bottom: 9px;
                
                .first_paragraph {
                    margin-bottom: 36px;
                }

                h3 {
                    color: $article-part-title;
                    margin-bottom: 22px;
                    font-size: 15px;
                    font-weight: 400;
                    letter-spacing: -0.1px;
                }

                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19px;
                }

                .article__photo {

                    margin: 20px auto 14px auto;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    img {
                        border-bottom: 7px solid $header-banner-line-color;
                        margin-bottom: 10px;
                    }

                    span {
                        color: $article-image-caption;
                        font-size: 8pt;
                        margin-bottom: 20px;
                    }
                }

                p {

                    margin-bottom: 23px;

                    img {
                        float: left;
                        margin: 14px 30px 30px 0;
                        border-bottom: 7px solid $header-banner-line-color;
                    }
                }

            }
        }


        footer {

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 24px;
            padding-top: 23px;

            a {

                text-decoration: none;

                img {

                    &:nth-child(1) {
                        margin-right: 20px;
                    }

                    &:nth-child(2) {
                        margin-left: 20px;
                    }

                }

                span {
                    font-size: 12pt;
                    color: $article-footer-link-color;
                }
            }
        }
    }

    .clients__block {

        border-top: 1px solid $border-bottom-color;
        margin: 0 auto;
        height: 93px;
        max-width: 979px;
        min-width: 790px;
        display: flex;
        justify-content: space-around;
        align-items: center;


        h3 {
            color: $footer-title-color;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -0.12px;
        }

        ul {
            
            li {

                display: inline-block;

                a {

                    cursor: pointer;

                    img {

                        margin: 0 38px;
                        filter: grayscale(0.60);
                        transition: 300ms;

                        &:hover {
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }
    }
}